@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

header {
    background-color: rgb(105, 105, 105);
    color: white;
    padding: 15px;
}

header > h1 {
    border: 1px solid black;
}

header > nav {
    border: 1px solid black;
}

header > nav > a {
    background-color: black;
    color: white;
    padding: 10px;
}

main {
    background-color: white;
    padding: 10px;
    margin: 20px;
    border-radius: 15px;
}

main p {
    text-align: justify;
}