@charset "UTF-8";

/* CSS PARA TELAS */

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: rgb(108, 253, 253);
}

header > h1 {
    text-align: center;
    padding: 10px;
}

menu {
    background-color: rgb(0, 122, 122);
}

ul {
    text-align: center;
    background-color: rgb(43, 160, 160);
    
}

menu li {
    display: inline-block;
    padding: 10px;
    background-color: rgba(161, 161, 236, 0.459);
    border-radius: 10px;
}

article {
    background-color: rgba(184, 113, 113, 0.37);
}

body {
    background-color: rgba(135, 48, 216, 0.308);
}